.main {
	padding: 3rem 5rem;
	color: $white;
	display: flex;
	flex-flow: row wrap;
	@include clearfix;
	@include bp-sm {
		padding: 3rem 2rem;
	}
}

$grey: #d8d8d8;
.sidebar {
	flex: 1 0 25%;
	max-width: 30rem;	
	@include bp-sm {
		flex: 1 0 100%;
		max-width: 100%;
		display: none;
	}
	.logo {
		margin-top: .5rem;
		margin-bottom: 8rem;
		&--sky-cinema {
			max-width: 15rem;
		}
		@include bp-md {
			display: none;
		}
	}
	.list {
		color: $grey;
		&--genre {

		}
		&__item {
			margin-bottom: 1.5rem;
			width: 70%;
			min-width: 15rem;
			@include bp-sm {
				display: none;
				&:first-child {
					display: block;
				}
			}
			@include bp-sm {
				float: left;
				width: auto;
			}
			&--all {
				padding-bottom: 3rem;
				margin-bottom: 3rem;
				border-bottom: 1px solid $grey;
				width: 12rem;
				@include bp-sm {
					border: none;
					margin-bottom: 0;
					padding-bottom: 0;
				}
			}
			&--active {
				i {
					margin-top: .4rem;
					float: right;
					font-size: 1.2rem;
					@include bp-sm {
						display: none;
					}
				}
			}
		}
	}
	.list--certs {
		margin-top: 5rem;
		padding-top: 2rem;
		border-top: 1px solid $grey;
		width: 12rem;
		@include bp-sm {
			border: none;
		}
		.list__item {
			display: inline-block;
			margin-right: 1rem;
		}
	}
}

.movies {
	flex: 5 0 75%;
	&__list {
		@include clearfix;
	}
	&__item {
		float: left;
		width: 17%;
		margin: 0 1.5% 4rem;
		@include bp-lg {
			width: 22%;
		}
		@include bp-md {
			width: 30.3%;
		}
		@include bp-sm {
			width: 47%;
		}
		&:hover {
			.movies__img {
				filter: blur(2px);
			}
			.movies__description {
				opacity: 1;
				transform: translateY(0);
			} 
			.movies__overlay {
				transform: translateY(0%);
			}
			.movies__rating {
				opacitY: 1;
				transform: translateX(-50%) translateY(0);
			}
		}
	}
	&__link {
		text-align: center;
		text-decoration: none;
		color: $grey;
		display: block;
		outline: 0;
	}
	&__container {
		position: relative;
		display: block;
		overflow: hidden;
	}
	&__overlay {
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 5;
		line-height: 1.5;
		text-align: left;
		padding: 1rem;
		font-size: 1.5rem;
		background: rgba(0,0,0,.6);
		transform: translateY(-100%);
		box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.98);
		overflow: hidden;
		transition:all .4s cubic-bezier(0.71, 0, 0.31, 1);
		@include bp-lg {
			font-size: 1.2rem;
			line-height: 1.5;
		}
		@include bp-lg {
			font-size: 1.5rem;
			line-height: 1.7;
		}
	}
	&__description {
		opacity: 0;
		display: block;
		color: $grey;
		transition:all .2s cubic-bezier(0.71, 0, 0.31, 1) .25s;
		overflow: hidden;
		transform: translateY(1rem);
		height: calc(100% - 3rem);
		h4 {
			margin-top: 0;
			padding-bottom: 1rem;
			margin-bottom: 1rem;
			border-bottom: .1rem solid $white;
		}
	}
	&__rating {
		opacity: 0;
		display: block;
		position: absolute;
		bottom: 1rem;
		left: 50%;
		transform: translateX(-50%) translateY(1rem);
		transition:all .2s cubic-bezier(0.71, 0, 0.31, 1) .3s;
		width: 100%;
		text-align: center;
	}
	&__img {
		width: 100%;
		display: block;
		border: 1px solid #7a7a7a;
		transition: all .4s cubic-bezier(0.86, 0, 0.07, 1);
	}
	&__title {
		margin-top: 1rem;
	}

	&--search {
		padding: 0 0rem 4rem 0rem;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		flex: 1 0 100%;
		@include bp-xs {
			padding-bottom: 3rem;
		}
		&__field {
			flex: 4 4 calc(70% - 36rem);
			background: none;
			border: .2rem solid $white;
			border-radius: 2rem;
			padding: .5rem 2rem;
			outline: 0;
			color: $white;
			@include bp-md {
				flex: 1 0 100%;
			}
		}
		.sort-by {
			flex: 0 0 36rem;
			margin-top: .2rem;
			margin-left: 2rem;
			@include clearfix;
			@include bp-md {
				flex: 0 0 29rem;
				margin-top: 2rem;
				margin-left: 0;
			}
			@include bp-xs {
				flex: 0 0 100%;
				text-align: center;
			}
			&__container {
				float: right;
				min-width: 36rem;
				@include bp-md {
					min-width: 29rem;
				}
				@include bp-xs {
					float: none;
					display: inline-block;
					min-width: 100%;
				}
			}
			&__title {
				float: left;
				margin-right: 1rem;
				margin-top: .7rem;
				@include bp-md {
					display: none;
				}
			}
			.list {
				float: right;
				@include clearfix;
				@include bp-xs {
					float: none;
					display: flex;
					flex-flow: row;
				}
				&__item {
					float: left;
					border: 1px solid $white;
					padding: .7rem;
					@include bp-xs {
						flex: 1 0 33%;
						font-size: 1.4rem;
					}
				}
			}
		}
		&__results {
			margin-top: 2rem;
			flex: 1 0 100%;
			@include bp-md {
				flex: 0 0 40%;
			}
			@include bp-xs {
				margin-top: 1.5rem;
				flex: 0 0 100%;
				text-align: center;
			}
		}
	}
}


.animate {
	opacity: 0;
	transition: .5s all ease-in-out;
	&.load {
		opacity: 1;
		@include fadeInUp();
	}
}