@mixin entranceTransform($scaleX, $scaleY, $translateX, $translateY) {
	transform: scale($scaleX, $scaleY) translate($translateX, $translateY);
}

@mixin transition($duration, $timinig-function) {
	transition: transform $duration $timinig-function, opacity $duration $timinig-function, rotate $duration $timinig-function;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin bp-lg {
  @media only screen and (max-width: 1200px) {
    @content;
  }
}

@mixin bp-md {
  @media only screen and (max-width: 900px) {
    @content;
  }
}

@mixin bp-sm {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin bp-xs {
  @media only screen and (max-width: 480px) {
    @content;
  }
}