@import 'https://fonts.googleapis.com/css?family=Poiret+One';
@import 'https://fonts.googleapis.com/css?family=Roboto';

html {
    box-sizing: border-box;
    font-size: 62.5%;
    height: 100%;
    background: #10101a;
    @include bp-md {
        font-size: 55%;
    }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background: url(../images/background-gradient.png) center top #10101a;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    font-size: 1.7rem;
    height: 100%;
    @include clearfix;
}

.wrapper {

}

ul, li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
